{% extends "base.html" %} 
{% block main_content %}
<section class="form">
<form action="" method="post" novalidate> 
    {{form.hidden_tag()}} 
    <table>
        <tr>
            <td>{{form.id.label}} </td>
            <td>{{form.id()}}
                {% for error in form.id.errors %} 
                    {{error}} 
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{form.password.label}}</td>
            <td>
                {{form.password()}} 
                {% for error in form.password.errors %} 
                    {{error}} 
                {% endfor %} 
            </td>
        </tr>
        <tr>
            <td>{{form.password2.label}}</td>
            <td>
                {{form.password2()}}
                {% for error in form.password2.errors %} 
                    {{error}} 
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{form.type.label}}</td>
            <td>
                {{form.type()}}
                {% for error in form.type.errors %} 
                    {{error}} 
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>{{form.submit()}}</td>
        </tr>
    </table>
 
</form> 
</section>
{% endblock %}